In [18]:
import os
import shutil
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

# Paths
DRIVE_MODEL_FOLDER = "/content/drive/MyDrive/Model1Folder"
LOCAL_WORK_FOLDER = "/content/hi"
model_folder = os.path.join(LOCAL_WORK_FOLDER, "hi")

# Create destination folder
os.makedirs(model_folder, exist_ok=True)

# Copy model files if available
if not os.path.exists(DRIVE_MODEL_FOLDER):
    print(f"‚ùå Model folder not found at: {DRIVE_MODEL_FOLDER}")
else:
    print(f"‚úÖ Model folder found at: {DRIVE_MODEL_FOLDER}")
    for filename in os.listdir(DRIVE_MODEL_FOLDER):
        shutil.copy2(os.path.join(DRIVE_MODEL_FOLDER, filename), os.path.join(model_folder, filename))
    print(f"‚úÖ All files copied to: {model_folder}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
‚úÖ Model folder found at: /content/drive/MyDrive/Model1Folder
‚úÖ All files copied to: /content/hi/hi

In [ ]:
# Install dependencies
!pip install llama-cpp-python groq --quiet

import os
import re
from groq import Groq
from llama_cpp import Llama

# === Configuration ===
# Replace with your own Groq API key
client = Groq(api_key="")

# Local model path
LOCAL_WORK_FOLDER = "/content/hi/hi"
MODEL_FILENAME = "unsloth.Q4_K_M.gguf"
MODEL_PATH = f"{LOCAL_WORK_FOLDER}/{MODEL_FILENAME}"

# === Load LLaMA model ===
print(f"Loading llama-cpp model from: {MODEL_PATH}")
llm = Llama(
    model_path=MODEL_PATH,
    n_ctx=2048,
    n_threads=8,
    n_gpu_layers=0,
    verbose=False,
)

# === Generate SQL Questions ===
def generate_sql_questions_groq(num=10):
    prompt = f"""
Generate exactly {num} *distinct* SQL questions. Each should consist of:
- SQL table creation
- Some INSERT statements
- A final SQL-related question

üìå Format each as a single block, like:

CREATE TABLE Students (Name VARCHAR(50), Marks INT);
INSERT INTO Students (Name, Marks) VALUES ('Alice', 85), ('Bob', 90);
How do I find the average marks of all students?

Separate each block with two newlines.
Do NOT generate more than {num} questions.
Only output the questions ‚Äî no explanation.
"""
    chat_completion = client.chat.completions.create(
        model="llama3-8b-8192",
        messages=[{"role": "user", "content": prompt}],
    )
    raw_output = chat_completion.choices[0].message.content.strip()

    # Post-process: limit to `num` questions max
    all_questions = [p.strip() for p in raw_output.split("\n\n") if p.strip()]
    trimmed = all_questions[:num]
    return "\n\n".join(trimmed)


# === Get Answers from LLaMA ===
def get_llama_answers(questions):
    answers = []
    if llm is None:
        print("LLaMA model not loaded. Skipping answer generation.")
        return answers

    for i, message in enumerate(questions):
        print(f"Running LLaMA on question {i+1} / {len(questions)}")
        response = llm.create_chat_completion(
            messages=[message],
            temperature=0.7,
            max_tokens=256,
            stop=["</s>"]
        )
        ans = response["choices"][0]["message"]["content"]
        answers.append({"question": message["content"], "answer": ans})
    return answers

# === Evaluate Answers using Groq ===
def evaluate_answers_groq(qa_pairs):
    evaluations = []
    total_score = 0

    for i, qa in enumerate(qa_pairs):
        print(f"Evaluating answer {i+1} with Groq")
        eval_prompt = f"""
You are an expert SQL tutor.

Question:
{qa['question']}

Answer:
{qa['answer']}

Evaluate the correctness and completeness of the answer.
Rate it 1 to 10 and provide a brief explanation.
"""
        chat_completion = client.chat.completions.create(
            model="gemma2-9b-it",
            messages=[{"role": "user", "content": eval_prompt}],
        )
        evaluation_text = chat_completion.choices[0].message.content.strip()

        # Extract score (1 to 10) using regex
        score_match = re.search(r'\b([1-9]|10)\b', evaluation_text)
        score = int(score_match.group(1)) if score_match else 0
        total_score += score

        evaluations.append({
            "question": qa["question"],
            "answer": qa["answer"],
            "evaluation": evaluation_text,
            "score": score,
            "percentage": round(score * 10, 1)
        })

    avg_score = round(total_score / len(qa_pairs), 2)
    avg_percentage = round(avg_score * 10, 2)

    print(f"\n=== Summary ===")
    print(f"Average Score: {avg_score}/10")
    print(f"Average Percentage: {avg_percentage}%")

    return evaluations

# === Main Pipeline ===
if llm:
    print("Generating SQL questions...")
    questions_text = generate_sql_questions_groq(10)
    questions = parse_questions(questions_text)

    print(f"\nGenerated {len(questions)} questions.\n")

    answers = get_llama_answers(questions)

    if answers:
        evaluations = evaluate_answers_groq(answers)

        print("\n\n=== Detailed Results ===\n")
        for i, res in enumerate(evaluations):
            print(f"--- QA Pair {i+1} ---")
            print("Question:\n", res["question"])
            print("Answer:\n", res["answer"])
            print("Evaluation:\n", res["evaluation"])
            print(f"Score: {res['score']}/10  ({res['percentage']}%)\n\n")
else:
    print("LLaMA model not loaded. Cannot proceed.")

Loading llama-cpp model from: /content/hi/hi/unsloth.Q4_K_M.gguf

llama_context: n_ctx_per_seq (2048) < n_ctx_train (131072) -- the full capacity of the model will not be utilized
llama_kv_cache_unified: LLAMA_SET_ROWS=0, using old ggml_cpy() method for backwards compatibility

Generating SQL questions...

Generated 10 questions.

Running LLaMA on question 1 / 10
Running LLaMA on question 2 / 10
Running LLaMA on question 3 / 10
Running LLaMA on question 4 / 10
Running LLaMA on question 5 / 10
Running LLaMA on question 6 / 10
Running LLaMA on question 7 / 10
Running LLaMA on question 8 / 10
Running LLaMA on question 9 / 10
Running LLaMA on question 10 / 10
Evaluating answer 1 with Groq
Evaluating answer 2 with Groq
Evaluating answer 3 with Groq
Evaluating answer 4 with Groq
Evaluating answer 5 with Groq
Evaluating answer 6 with Groq
Evaluating answer 7 with Groq
Evaluating answer 8 with Groq
Evaluating answer 9 with Groq
Evaluating answer 10 with Groq

=== Summary ===
Average Score: 6.5/10
Average Percentage: 65.0%


=== Detailed Results ===

--- QA Pair 1 ---
Question:
 CREATE TABLE Orders (OrderID INT, CustomerID INT, OrderDate DATE);
INSERT INTO Orders (OrderID, CustomerID, OrderDate) VALUES (1, 101, '2021-01-01'), (2, 102, '2021-01-15');
Answer:
 SELECT * FROM Orders;

This SQL query retrieves all the records from the Orders table, including the OrderID, CustomerID, and OrderDate columns.
Evaluation:
 The answer is **correct** and **partially complete**.

**Rating: 7/10**

**Explanation:**

* **Correctness:** The SQL query `SELECT * FROM Orders;`  is syntactically correct and will accurately retrieve all data from the `Orders` table.
* **Completeness:** While the query itself is correct, it lacks context. A good response would also:

    * **Explain the purpose:** State that the query is used to display all orders stored in the table.
    * **Show the output:**  Include a sample of the expected output based on the inserted data.
    * **Discuss alternatives:** Mention that `SELECT` can be used with specific column names for more controlled output (e.g., `SELECT OrderID, OrderDate FROM Orders`).


Let me know if you'd like a more comprehensive explanation or have other SQL queries you'd like help with!
Score: 7/10  (70%)


--- QA Pair 2 ---
Question:
 How do I find the total number of orders made by each customer?
Answer:
 To find the total number of orders made by each customer, you can use the GROUP BY and SUM function in SQL or the GROUP BY and COUNT function in SQL Server.

For SQL:

```sql
SELECT customer_name, SUM(orders) as total_orders
FROM orders
GROUP BY customer_name;
```

For SQL Server:

```sql
SELECT customer_name, SUM(orders) as total_orders
FROM orders
GROUP BY customer_name;
```

This query will calculate the total number of orders made by each customer by summing the orders for each customer.
Evaluation:
 The answer is partially correct but incomplete.

Here's a breakdown and rating:

**Rating: 6/10**

**Strengths:**

* **Correct SQL Structure:** The provided SQL query structure is generally correct for achieving the desired outcome. Using `GROUP BY customer_name` and `SUM(orders)` or `COUNT(orders)` is the appropriate approach.

**Weaknesses:**

* **Assumptions:**  The answer assumes the table is named "orders" and has columns named "customer_name" and "orders". Real-world database schemas can vary greatly.
* **Missing Clarification on 'orders' Column:**  It's unclear what the "orders" column represents.
    *  Does it store a numerical count of orders per customer?
    *  Does it contain order IDs?
    *  Is it a date/timestamp representing the order date?
* **No SQL Server Distinction:**  While the SQL code for SQL and SQL Server is identical in this case, for more complex scenarios, there might be subtle syntax differences.

**Improvements:**

1. **Replace Placeholder Names:** Replace  "orders" and "customer_name" with actual column names from the target database.
2. **Explain "orders" Column:** Clearly state what the "orders" column represents to avoid ambiguity.
3. **Provide Alternative Using COUNT:** Explicitly mention that `COUNT(orders)` can be used instead of `SUM(orders)` if the "orders" column contains individual order IDs.
4. **Highlight Potential Variations:** Briefly note that SQL syntax might have minor differences across various database systems.



Let me know if you'd like a more tailored example based on a specific database schema!
Score: 6/10  (60%)


--- QA Pair 3 ---
Question:
 --------------------------------------------------------
Answer:
 It seems like you're starting to write a story or scenario. Can you tell me a bit more about what's happening? What's the main plot or conflict?
Evaluation:
 The answer provided is **not relevant** to the given context.

**Rating: 1/10**

**Explanation:**

The prompt requests information about SQL, specifically asking for help with a SQL query. Instead of addressing the query, the AI diverts the conversation to story writing, asking for a plot or conflict. This is a significant misinterpretation of the user's intent.


Let me know if you have a specific SQL query you'd like help with, and I'll be happy to assist!
Score: 1/10  (10%)


--- QA Pair 4 ---
Question:
 CREATE TABLE Employees (EmployeeID INT, DepartmentID INT, Salary INT);
INSERT INTO Employees (EmployeeID, DepartmentID, Salary) VALUES (1, 101, 50000), (2, 101, 60000), (3, 102, 70000);
Answer:
 CREATE TABLE Employees (EmployeeID INT, DepartmentID INT, Salary INT);
INSERT INTO Employees (EmployeeID, DepartmentID, Salary) VALUES (1, 101, 50000), (2, 101, 60000), (3, 102, 70000);

This SQL query creates a new table named "Employees" and inserts three rows into it with the specified employee ID, department ID, and salary.
Evaluation:
 The answer is **correct and complete**. It accurately reflects the provided SQL statements.

**Rating: 10/10**

**Explanation:**

* **CREATE TABLE ...:** This statement correctly defines the structure of the "Employees" table with three columns: EmployeeID (integer), DepartmentID (integer), and Salary (integer).
* **INSERT INTO ... VALUES ...:** This statement correctly inserts three rows of data into the "Employees" table. Each row has the specified EmployeeID, DepartmentID, and Salary values.

The answer clearly explains what the SQL code does, making it helpful for learning purposes.


Let me know if you have any other SQL queries you'd like me to evaluate!
Score: 10/10  (100%)


--- QA Pair 5 ---
Question:
 How do I find the average salary of employees in department 102?
Answer:
 To find the average salary of employees in department 102, you can use the following steps:

1.  Identify the department number: In this scenario, the department number is 102.
2.  Collect the data: You need to collect the salary data of employees in the department 102.
3.  Perform calculations: Once you have the data, you need to perform the necessary calculations to find the average salary.
4.  Output the result: You need to output the average salary to the user.

Here's a sample code in SQL to find the average salary of employees in department 102:

```sql
SELECT department_number, AVG(salary) as average_salary
FROM employees
WHERE department_number = 102
GROUP BY department_number;
```

This SQL query performs the following steps:

-   Selects the department number and calculates the average salary of employees in the department 102.
-   Filters the data to include only employees with the department number 102.
-   Groups the data by the department number and calculates the average salary for each group.

By running this query, you can get the average salary of employees in department 102.
Evaluation:
 The answer is **8/10**.

**Here's why:**

* **Correctness:** The SQL query provided is accurate and will effectively calculate the average salary of employees in department 102.
* **Completeness:**
    *  The explanation of the query's steps is clear and helpful.
    * It accurately describes the purpose of each clause (SELECT, WHERE, GROUP BY, AVG).
    * **Minor Improvement:** It could be more explicit about why `GROUP BY department_number` is necessary to get a single average for each department.

* **Clarity:** The language is easy to understand, making it suitable for a beginner.

**Suggestions for improvement:**

* **Elaborate on `GROUP BY`:**  Explain that without `GROUP BY`, the AVG() function would calculate the average salary of *all* employees, not just those in department 102.


Let me know if you'd like more detailed explanations on any specific aspect of the SQL query!
Score: 8/10  (80%)


--- QA Pair 6 ---
Question:
 --------------------------------------------------------
Answer:
 It seems you've started a new message, but it doesn't appear to be related to the problem or question you're trying to ask.

Could you please provide more context or clarify what you're trying to achieve or ask about? I'll do my best to assist you.
Evaluation:
 The answer is a **7/10**.

Here's why:

* **Correctness:**  The answer is factually correct. It acknowledges that there is no provided question and politely requests clarification.
* **Completeness:** While it's polite and accurate, it could be improved by offering a few suggestions on how the user could rephrase their request. For example, it could say something like:

   "To help me understand, could you please:

   * **Rephrase your question:**
   * **Tell me what you're trying to accomplish:**
   * **Share any relevant code or database schema:**"

This provides more guidance and makes it easier for the user to get the help they need.


* **Tone:** The tone is helpful and encouraging.
Score: 7/10  (70%)


--- QA Pair 7 ---
Question:
 CREATE TABLE Cars (CarID INT, Color VARCHAR(20), Year INT);
INSERT INTO Cars (CarID, Color, Year) VALUES (1, 'Blue', 2010), (2, 'Red', 2015), (3, 'Blue', 2018);
Answer:
 INSERT INTO Cars (CarID, Color, Year) VALUES (1, 'Blue', 2010), (2, 'Red', 2015), (3, 'Blue', 2018);

This SQL query inserts three records into the Cars table, each with a unique CarID, a specified Color, and a corresponding Year.
Evaluation:
 The answer is **7/10**.

Here's why:

* **Correctness:** The SQL code provided is syntactically correct and will successfully insert the specified data into the `Cars` table.
* **Completeness:**

The answer only shows the `INSERT` statement. A more complete and helpful response would include:

* **Explanation of the `CREATE TABLE` statement:** This statement defines the structure of the `Cars` table with columns for `CarID`, `Color`, and `Year`.
*  **Understanding of Data Types:** Mentioning the data types for each column (e.g., `INT` for `CarID` and `Year`, `VARCHAR(20)` for `Color`).
* **Practical Explanation:**
 Instead of just stating the code works,  explain what each part of the `INSERT` statement does:
    * `INSERT INTO Cars`: Specifies the target table.
    * `(CarID, Color, Year)`: Lists the columns where data will be inserted.
    * `VALUES (1, 'Blue', 2010)`: Provides the data values for the first row, and so on.

**An improved response:**

```sql
-- Create the Cars table
CREATE TABLE Cars (
    CarID INT,
    Color VARCHAR(20),
    Year INT
);

-- Insert three car records into the table
INSERT INTO Cars (CarID, Color, Year)
VALUES
    (1, 'Blue', 2010),
    (2, 'Red', 2015),
    (3, 'Blue', 2018);
```

This response provides a better understanding of the code's purpose and functionality.
Score: 7/10  (70%)


--- QA Pair 8 ---
Question:
 How do I find the number of cars of each color?
Answer:
 To find the number of cars of each color, you can use the following steps:

1. Collect car data: You'll need access to a database or a dataset that contains information about the number of cars of different colors.
2. Identify the data: Once you have the data, identify the columns that contain information about the color of each car.
3. Filter the data: Filter the data to include only the columns that contain the color information (e.g., 'color' or 'color_code').
4. Group the data: Group the data by the color column(s) to get the number of cars for each color.
5. Calculate the sum: Calculate the sum of the number of cars for each color to get the final answer.

Example SQL query to find the number of cars of each color:
```sql
SELECT color, COUNT(*) as num_cars
FROM cars
GROUP BY color;
```
This query groups the data by the 'color' column and calculates the sum of the 'num_cars' column to get the number of cars for each color.

Example using Python and pandas library:
```python
import pandas as pd

# Load the data
data = pd.read_csv('cars.csv')

# Identify the data
color_data = data[['
Evaluation:
 The answer is mostly correct and provides a good general approach.

**Rating: 8/10**

**Here's why:**

* **Strengths:**
    * Clearly outlines the steps involved in finding the car count by color.
    * Provides a valid SQL query example and a Python example using pandas.
    * Explains the concepts of grouping and counting in a straightforward manner.
* **Weaknesses:**
    *  The Python example is incomplete. It starts to show how to load data but doesn't finish the query to count cars by color.
    *  It assumes the dataset has a column named 'color'.  A more robust answer would mention that the column name might vary depending on the dataset.

**Suggestions for Improvement:**

* Complete the Python example to demonstrate the full process.
* Add a note about how the column name might differ in different datasets and encourage the user to inspect their data.
* Briefly mention alternative methods like using a `WHERE` clause to filter by color if the focus is on specific colors rather than all of them.



Let me know if you'd like the complete Python example!
Score: 8/10  (80%)


--- QA Pair 9 ---
Question:
 --------------------------------------------------------
Answer:
 It appears you're using a formatting style similar to Markdown, a lightweight markup language. However, I couldn't find a standard for its usage.
Evaluation:
 The answer is **2/10**.

Here's why:

* **Incorrect:**  The response doesn't actually address the core of the user's request. The user asks a question expecting an SQL-related answer.  The response focuses on the formatting style itself instead.
* **Unhelpful:**  While identifying the formatting style is technically correct, it doesn't provide any value to the user who is seeking help with SQL.

**To be a good SQL tutor, the response should:**

1. **Understand the SQL context:** Recognize that the user is likely asking about SQL syntax or concepts.
2. **Provide a direct answer:**  Address the specific SQL question in the prompt, offering code examples, explanations, or guidance where applicable.
3. **Be helpful and informative:**  Guide the user towards a better understanding of SQL.


Let me know if you'd like me to provide a helpful SQL answer based on a specific SQL question. I'm here to help!
Score: 2/10  (20%)


--- QA Pair 10 ---
Question:
 CREATE TABLE Customers (CustomerID INT, Email VARCHAR(50));
INSERT INTO Customers (CustomerID, Email) VALUES (101, 'a@example.com'), (102, 'b@example.com'), (103, 'c@example.com');
Answer:
 CREATE TABLE Customers (
  CustomerID INT,
  Email VARCHAR(50)
);

INSERT INTO Customers (CustomerID, Email) VALUES (101, 'a@example.com'), (102, 'b@example.com'), (103, 'c@example.com');

The query creates a table named 'Customers' with two columns: 'CustomerID' and 'Email'. It then inserts three records into the 'Customers' table with the given 'CustomerID' and 'Email' values.
Evaluation:
 The answer is **9/10**.

**Correctness:**

*  The SQL statements for creating the table and inserting data are syntactically correct.
* **Data types:** The answer correctly identifies  `INT` for `CustomerID` and `VARCHAR(50)` for `Email`.

* **Values:** The inserted values are also correct.

**Completeness:**

* **Schema Explanations (minor missing point):**  A brief explanation of what each column represents would be beneficial. For example:

   ```sql
   CREATE TABLE Customers (
     CustomerID INT, -- Unique identifier for each customer
     Email VARCHAR(50) -- Email address of the customer
   );
   ```


**Overall:** The answer is very good. It accurately provides the SQL code and a basic understanding of what the code does. Adding a little more context about the column meanings would make it even stronger.
Score: 9/10  (90%)